{% extends 'base.html'%}
{% block content %}
{% load static %}

<link rel="stylesheet" href="css/style.css">
<h1>Role list</h1>
{% for role in role_list %}
{% comment %} ! 'role_list', the name of the template variable that gets passed up from the class based index view. {% endcomment %}
  <div class="card">
    <h6 class="amber lighten-4">
    <a href="{% url 'role_detail' role.id%}">
      <div class="card-content">
        <span class="card-title">{{ role.name }}</span>
        {% if role.days_since_followup  > 5 %}
        <div class="red-text">{{role.days_since_followup}} DAYS SINCE LAST FOLLOW UP!</div>
        {% endif %}
        <p>Salary: {{role.salary}}</p>
        <p>Company: {{ role.company_name }}</p>
        <p>Location: {{ role.location}}</p>
        <p class="truncate">Description: {{ role.description }}</p>
      </div>
    </a>
    </h6>
  </div>
{% endfor %}

{% endblock %}