{% extends 'base.html'%}
{% block content%}

    {% if object %}
        <h1>Edit <span class="green-text">{{object.name}}</span></h1>
    {% else %}
        <h1>Add Role</h1>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
            {% comment %} <tr>
                <td><label for="{{ form.salary.id_for_label}}">Salary:</label></td>
                <td>{{ form.salary }}</td>
            </tr>  {% endcomment %}
        </table>
        <input type="submit" value="Submit" class="btn">
    </form>
{% endblock %}
