{% extends 'base.html'%}

{% block content %}
{% load static %}
<div class="row">
  <div class="col s12">
    <div class="card">
      <h5 class="amber lighten-4">
      <div class="card-content">
        <span class="card-title">{{ role.name }}</span>
        <p>Salary: {{role.salary}}</p>
        <p>Company: {{ role.company_name }}</a></p>
        <p>Location: {{ role.location}}</p>
        <p class="truncate role-link">
          Link: 
          <a href="{{ role.link }}" target="_blank"><span class = "link-max">{{ role.link }}</span></a>
        </p>	
        <br>
        <a class="btn modal-trigger" href="#modal1">Description</a>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Description: </h4>
            <p>{{role.description|linebreaksbr}}</p>
          </div>
          <div class="modal">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
          </div>
        </div>
      </div>
      <div class="card-action">
        <a href="{% url 'roles_update' role.id %}"><i class="material-icons">edit</i></a>
        <a href="{% url 'roles_delete' role.id %}"><i class="material-icons">delete</i></a>
      </div>
      </h5>
    </div>
  </div>
  <div class="col s12">
    <form action="{% url 'add_followup' role.id%}" method="POST">
      {% csrf_token %}
      {{ followup_form.as_p }}
      {% if role.days_since_followup  > 5 %}
      <div class="card-panel red-text center-align alert">{{role.days_since_followup}} DAYS SINCE LAST FOLLOW UP! <input type="submit" class="btn" value="Add Follow Up"></div>
      {% elif role.days_since_followup %}
      <div class="card-panel teal-text center-align">{{role.days_since_followup}} Days since last follow up</div>
      <input type="submit" class="btn" value="Add Follow Up">
      {% else %}
      <input type="submit" class="btn" value="Add Follow Up">
      {% endif %} 
      
    </form>

    <table class="striped">
      <thead>
        <tr><th>Name</th><th>Contact info</th><th>Date contacted</th></tr>
      </thead>
      <tbody>
        {% for followup in role.followup_set.all %}
          <tr>
            <td>{{followup.name}}</td>
            <td>{{followup.contact}}</td>
            <td>{{followup.date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
      <h5>{{ role.tags.all.count }} Associated Tags</h5>
      {% if role.tags.count %}
        {% for tag in role.tags.all%}         
          <div class="chip red accent-1">          
            <form action="{% url 'unassoc_tag' role.id tag.id %}" method='POST'>
              {{tag.name}}
              {% csrf_token %}
              <button type="submit">x</button>
            </form>
          </div>
        {% endfor %}
      {% endif %}
    </div> 
  <div class="col s6">
    <h5>{{ tags_role_doesnt_have.count }} Available Tags</h5>
    {% if tags_role_doesnt_have.count %}
      {% for tag in tags_role_doesnt_have.all %}
      <div class="chip blue lighten-3">          
        <form action="{% url 'assoc_tag' role.id tag.id %}" method='POST'>
          {{tag.name}}
          {% csrf_token %}
          <button type="submit">+</button>
        </form>
      </div>
        {% endfor %}
      {% else %}
        <h3>{{role.name}} Has All Tags</h3>
      {% endif %}
    </div>
</div>

<script src={% static 'js/role_detail.js' %}></script>
{% endblock %}
