{% extends 'base.html' %}
{% block content %}

<h1 class="left-align">About AppYourself</h1>
<hr>
<p class="left-align">App Yourself is Userbased app to add/edit/delete roles applied to or interested in! <br> <br> Add a record for each followup on each role (name, contact info., date stamp) and be alerted via text of the number of days elapsed since your last follow up.<br><br>  

    You'll be able to create and add tags to those jobs to categorize what attributes each job has.<br> <br> 
    
    User can enter a link to the role or website, or whichever pertinent link they choose to associate with the role. That link can be accessed on the individiual role.<br> <br> 
    
    Create and add/remove tags to roles to categorize industry, work, languages used, etc.</p>

{% endblock %}