{% extends 'base.html' %}
{% block content %}

<h1 class="left-align">About AppYourself</h1>
<hr>
<p class="left-align">App Yourself is a Userbased app to add/edit/delete roles applied to or interested in! <br> <br> 
    <span class="blue-text text-darken-2">Add a record for each followup on each role (name, contact info., date stamp)</span> and be alerted via text of the number of days elapsed since your last follow up.<br> <br>
    An <span class="red-text">extra visual reminder</span> will display if there's no followup added <span class="yellow-text text-darken-4">within 5 days of the last followup</span>.<br><br>  

    <span class="teal-text text-lighten-2"> Create, then add or remove tags to roles</span> to categorize industry, type of work, languages used, etc.<br> <br> 
    
    Don't forget to enter a link to the role or website when creating the role. <span class="blue-text text-darken-2"> That link can be clicked on the individiual roles page.</span><br> <br> 
    
    </p>

{% endblock %}