{% extends 'base.html' %}
{% block content %}

<h1 class="left-align">About AppYourself</h1>
<hr>
<p class="left-align">App Yourself is a Userbased app to add/edit/delete roles applied to or interested in! <br> <br> Add a record for each followup on each role (name, contact info., date stamp) and be alerted via text of the number of days elapsed since your last follow up.<br> <br> An <span class="red-text">extra visual reminder</span> will be implemented if there's no followup added <span class="yellow-text text-darken-4">within 5 days of the previous one</span>.<br><br>  

    Create and add/remove tags to roles to categorize industry, type of work, languages used, etc.<br> <br> 
    
    Don't forget to enter a link to the role or website, or whichever link you choose to associate with the roles page. <span class="teal-text text-darken-2"> That link can be clicked on the individiual roles page.</span><br> <br> 
    
    </p>

{% endblock %}